<%= form_tag update_alert_path, :class => 'bs-component' do %>
	
	<table class="form_table">
	  <tr>
	    <td>
				<div class="form-group" style="width: 300px;">
					<label class="control-label" for="focusedInput">Label</label>
					<%= text_field_tag 'label', @alert.label, :class => 'form-control' %>
				</div>
			</td>
		</tr>
		<tr>
	    <td>
				<div class="form-group" style="width: 700px;">
					<label class="control-label" for="focusedInput">Message</label>
					<%= text_field_tag 'message', @alert.message, :class => 'form-control' %>
				</div>
			</td>
		</tr>
	</table>

	<table class="form_table">
	  <tr> 
	    <td>
				<div class="form-group" style="width: 300px;">
					<label class="control-label" for="focusedInput">Alert Query</label>
					<div id="editor"><%= @alert.query %></div>
				</div>
			</td>
		</tr>
		<tr>
		  <td>
		  	The alert query will be evaluated, and if the first cell in the result set exists and is not null, then an email will be sent to each <%= link_to 'configured alert_email', settings_path %>.  <a href="https://github.com/no0p/pgantenna/wiki/Customizing-Alerts">Alerts Guide</a>
		  </td>
		</tr>
	</table>

	<%= hidden_field_tag :id, @alert.id %>
  <textarea name="query" style="display: none;">
  	<%= @alert.query %>
  </textarea>
	<br/>
  <%= submit_tag 'Save Alert Changes', :class => 'btn btn-primary' %>

<% end %>



<%= render 'ace' %>
