<%= form_tag update_plot_path, :class => 'bs-component' do %>
	
	<table class="form_table">
	  <tr>
	    <td>
				<div class="form-group" style="width: 300px;">
					<label class="control-label" for="focusedInput">Title</label>
					<%= text_field_tag 'title', @plot.title, :class => 'form-control' %>
				</div>
			</td>
		</tr>
	</table>
	
	<table class="form_table">
	  <tr> 
	    <td>
				<div class="form-group" style="width: 300px;">
					<label class="control-label" for="focusedInput">Width (% of row)</label>
					<%= text_field_tag 'width', @plot.width, :class => 'form-control' %>
				</div>
			</td>
			<td class="last">	
				<div class="form-group" style="width: 300px;">
					<label class="control-label" for="focusedInput">Height (pixels)</label>
					<%= text_field_tag 'height', @plot.height, :class => 'form-control' %>
				</div>
			</td>
		</tr>
	</table>

	<table class="form_table">
	  <tr> 
	    <td>
				<div class="form-group" style="">
					<label class="control-label" for="focusedInput">Plot Query</label><br/>
					<span class="form_message">The plot query is passed to the <a href="https://github.com/no0p/plotpg">plotpg</a> function, and the resulting chart is displayed.</span><br/><br/>
					<div id="editor"><%= @plot.query %></div>
				</div>
			</td>
		</tr>
	</table>

	<table class="form_table">
	  <tr> 
	    <td>
				<div class="form-group" style="">
					<label class="control-label" for="focusedInput">Gnuplot Commands</label><br/>
					<span class="form_message">Optional commands that are passed as the second parameter to the <a href="https://github.com/no0p/plotpg/wiki/Plotting-Data">plot function</a>.</span><br/><br/>
					<textarea name="gnuplot_commands" class="form-control" rows="5"><%= @plot.gnuplot_commands %></textarea>
				</div>
			</td>
		</tr>
	</table>


	<%= hidden_field_tag :id, @plot.id %>
  <textarea name="query" style="display: none;">
  	<%= @plot.query %>
  </textarea>
	<br/>
  <%= submit_tag 'Save Plot Changes', :class => 'btn btn-primary' %>

<% end %>



<%= render 'ace' %>
