<h4>Alerts</h4>
<br/>

<table class="table table-striped table-hover config-table">

  <tbody>
		<% @alerts.each do |p| %>
			<tr>
			  <td>
			    <%= p.label %>
			  </td>
			
			  <td>
			    <div class="action_links">
					  <%= link_to 'Edit', edit_alert_path(p) %>
					  &nbsp;
					  <%= link_to 'Delete',  delete_alert_path(p.id),  method: :delete, data: { confirm: 'Are you sure?' } %>
					</div>
			  </td>
			</tr>
		<% end %>
	</tbody>
</table>

<br/>

<div class="main_action_row">
  <%= link_to '+ Add new alert', new_alert_path, :class => 'edit_link' %> 
  &nbsp;&nbsp;&nbsp;
  <%= link_to 'Reset Defaults',  reset_alerts_path, class: 'edit_link last_link', method: :delete, data: { confirm: 'Are you sure?  This will delete all alerts and restore to default alerts.' } %>
</div>
