<% if !@suppress_navbar %>
	<div class="navbar navbar-default navbar-head">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
		  
		  <ul class="nav navbar-nav"> 
		    <li>
		    	<%= link_to 'Status', status_path %>
		    </li>
		  </ul>		

		  <ul class="nav navbar-nav navbar-right">
		 		<% if @current_connection.present? %>
		 		  <li>
		      <span class="connected_message">Client connected: <%= @current_connection.ip %></span>
		      </li>
		    <% end %>
		    <li class="dropdown">
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
		      <ul class="dropdown-menu">
		        <li><%= link_to 'Configure Box Stats', index_box_path %></li>
		        <li><%= link_to 'Configure Plots', index_plot_path %></li>
		        <li><%= link_to 'Configure Alerts', index_alert_path %></li>
		        <li class="divider"></li>
		        <li><%= link_to 'Settings', settings_path %></li>
		        <% if session[:valid].present? %>
				      <li class="divider"></li>
				      <li><%= link_to 'Sign Out', logout_path %></li>
		        <% end %>
		      </ul>
		    </li>
		  </ul>
		</div>
	</div>
<% end %>
